<!-- pdfList.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>List of PDFs</h2>
    <ul>
        <% pdfs.forEach(pdf => { %>
            <li>
                <%= pdf.pdf_name %>
                <a href="/download/<%= pdf.pdf_id %>" download>
                    <button>Download</button>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
